.video {
  font-size: 0;
  background: #f6f7fb;

  .banner {
    height: 4.2rem;
    background: url(../assets/video/banner.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;

    .tit {
      font-size: 0.75rem;
      font-weight: bold;
      padding-top: 1.2rem;
      line-height: 0.75rem;
      width: 11rem;
      margin: 0 auto;
      text-align: left;
    }

    .desc {
      margin: 0 auto;
      font-size: 0.27rem;
      line-height: 0.44rem;
      white-space: pre-line;
      padding-top: 0.3rem;
      width: 11rem;
      text-align: left;
    }
  }

  .tit {
    text-align: center;

    .txt {
      font-size: 0.3rem;
      line-height: 0.34rem;
      color: #31384e;
      font-weight: bold;
    }

    .bottom {
      margin: 0.2rem auto 0;
      height: 0.04rem;
      width: 0.8rem;
      background: #31384e;
    }
  }

  .more {
    padding: 1.2rem 0 0;
    height: 8.75rem;
    text-align: center;
    background: url(../assets/video/01-min.png) no-repeat center content-box;
    background-size: auto 8.75rem;

    img {
      width: auto;
    }

    dl {
      margin: 0 auto;
      width: 6.48rem;
      text-align: left;
      padding-top: 1.67rem;
      -webkit-transform: translateX(-2.06rem);
      transform: translateX(-2.06rem);

      dt {
        font-size: 0.3rem;
        font-weight: bold;
        line-height: 0.42rem;
        color: #262b40;
        padding-right: 0.38rem;
        text-align: justify;
        text-justify: inter-ideograph;
      }

      .em {
        padding-top: 0.89rem;
        font-size: 0.24rem;
        line-height: 0.44rem;
        color: #262b40;
        text-align: justify;
        text-justify: inter-ideograph;
        font-weight: bold;
        white-space: pre-line;
      }

      .desc {
        padding-top: 0.5rem;
        color: #7e828f;
        font-size: 0.2rem;
        line-height: 0.32rem;
        text-align: justify;
        text-justify: inter-ideograph;
      }
    }
  }

  .forecast {
    padding: 0.24rem 0 0.71rem;
    text-align: center;

    .fore-tit {
      font-size: 0.3rem;
      font-weight: bold;
      color: #374046;
    }

    img {
      width: 12rem;
      height: auto;
      padding-top: 0.77rem;
    }
  }

  .video-advantage {
    height: 6.47rem;
    padding-top: 0.86rem;
    background: url(../assets/wechat/04-min.png) no-repeat center center;
    background-size: cover;

    .tit {
      .txt {
        color: #fff;
      }

      .bottom {
        background: #fff;
      }
    }

    .adv-list {
      width: 12.33rem;
      margin: 0.93rem auto 0;

      .adv-item {
        display: inline-block;
        vertical-align: top;
        width: 2.82rem;
        height: 4.11rem;
        margin: 0 0.125rem;
        text-align: center;
        background: #fff;
        border-radius: 0.04rem;
        cursor: pointer;

        .img {
          border-radius: 0.5rem;
          width: 0.95rem;
          height: 0.95rem;
          margin: 0.37rem auto 0;
          background: #ffe1b5;

          img {
            width: 0.54rem;
            height: auto;
            margin-top: 0.2rem;
          }

          img.active {
            display: none;
            margin-top: 0.2rem;
          }
        }

        .tit {
          padding-top: 0.47rem;
          font-size: 0.24rem;
          line-height: 0.28rem;
          color: #31384e;
          font-weight: bold;
        }

        .desc {
          font-size: 0.17rem;
          line-height: 0.24rem;
          padding: 0.4rem 0.28rem 0;
          color: #7e828f;
          text-align: justify;
          text-justify: inter-ideograph;
        }
      }

      .adv-item:hover {
        .img {
          background: #ffa218;
          box-shadow: 0px 24px 24px 0px rgba(255, 162, 24, 0.22);

          img {
            display: none;
          }

          img.active {
            display: inline-block;
          }
        }
      }
    }
  }

  .platform-advantage {
    background: #ffa218;
    padding-top: 0.85rem;
    padding-bottom: 0.98rem;

    .tit {
      .txt {
        color: #fff;
      }

      .bottom {
        background: #fff;
      }
    }

    .padv-list {
      width: 12.26rem;
      margin: 1.03rem auto 0;

      .padv-item {
        display: inline-block;
        vertical-align: top;
        width: 2.87rem;
        height: 2.84rem;
        margin: 0 0.09rem;
        text-align: center;
        background: #fff;
        border-radius: 0.04rem;

        .img {
          border-radius: 0.5rem;
          width: 0.87rem;
          height: 0.87rem;
          margin: -0.61rem auto 0;
          background: #fff;
          border: 0.08rem solid #ffa218;

          img {
            width: 0.6rem;
            height: auto;
            margin-top: 0.15rem;
          }
        }

        .tit {
          padding-top: 0.22rem;
          font-size: 0.24rem;
          line-height: 0.28rem;
          color: #262b40;
          font-weight: bold;
        }

        .desc {
          font-size: 0.17rem;
          line-height: 0.26rem;
          padding: 0.23rem 0.36rem 0;
          color: #7e828f;
          text-align: justify;
          text-justify: inter-ideograph;
          word-break: break-all;
        }
      }
    }
  }

  .form {
    padding-top: .86rem;
    text-align: center;

    img {
      width: 13.9rem;
      height: auto;
      margin-top: 0.19rem;
    }
  }

  .server {
    padding-top: 0.81rem;
    padding-bottom: 0.73rem;
    background: #ffa218;
    text-align: center;

    .tip {
      text-align: center;
      padding-top: 0.19rem;
      line-height: 0.16rem;
      font-size: 0.16rem;
      color: #262b40;
    }

    .join-btn {
      margin: 0.53rem auto 0;
      width: 4.14rem;
      height: 0.76rem;
      color: #fff;
      font-size: 0.24rem;
      font-weight: bold;
      background: #262b40;
      border-radius: 0.04rem;
      line-height: 0.74rem;
      box-shadow: 0 0.2rem 0.35rem 0 rgba(255, 162, 24, 0.23);
      text-align: center;
      cursor: pointer;

      img {
        height: 0.2rem;
        width: auto;
        margin-left: 0.12rem;
        margin-top: -0.05rem;
      }
    }

    .server-list {
      display: inline-block;
      padding-top: 0.97rem;

      .server-item {
        display: inline-block;
        vertical-align: top;
        width: 2.2rem;
        text-align: center;
        margin: 0 0.44rem;
        color: #262b40;

        img {
          width: 0.68rem;
          height: auto;
        }

        .server-tit {
          font-size: 0.24rem;
          line-height: 0.36rem;
          padding-top: 0.25rem;
          font-weight: bold;
        }

        .server-tip {
          font-size: 0.16rem;
          line-height: 0.24rem;
          padding-top: 0.18rem;
          text-align: justify;
          text-justify: inter-ideograph;
        }
      }
    }
  }
}
